@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

.ant-tabs-content-holder {
  border-left: 0px !important;
}

.ant-tabs-nav::before {
  border-bottom: 0px !important;
}
